# Crash log files
*CRASH.log
*crash.log

#Output files used during development
postPayloadInit.txt
getHeadersInit.txt

# Local venv directories
**/venv/*
**/venv

# pycache directories
**/*__pycache__*
