# Crash log files
*CRASH.log
*crash.log

#Output files used during development
postPayloadInit.txt
getHeadersInit.txt

#temp logs put here for consumption by ACM and then gitignored to keep them out of version control. Put your persistent logs someplace else.
*.log

# Local venv directories
**/venv/*
**/venv

# pycache directories
**/*__pycache__*
